.cart-icon {
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .item-count {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    bottom: 1.2rem;
  }
}

.animate-icon {
  animation: crescendo 0.3s alternate ease-in;
}

@keyframes crescendo {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.3);
  }
}
